body{
    margin: 0;
    padding: 0;
    background-color: rgba(216, 230, 244, 0.825) !important;

}
.navbar{
    z-index: 2;
    width: 90%;
    background-color:rgba(128, 128, 128, 0.19) !important;
    height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 8px;
    flex-wrap: nowrap !important;
    margin: auto;
    
    }
    .navbar img{
        height: 70px;
        width: 70px;
    }
    .navbar span::first-letter{
        color: rgb(169, 40, 40);
        font-size: 25px;
    }
    .navbar span{
        font-size: 25px;
        font-family: 'Cairo', sans-serif;
        font-weight: 600;
    }
    .container2{
        flex-wrap: wrap;
        
    }
    .card{
        margin: 10px;
        box-shadow: 3px 3px 8px;
    }
    .container{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 60px;

    }
    .container .card{
        width: 30%
    }
h5{
    font-weight: 700 !important;
    font-family: 'Cairo', sans-serif;
}
p{
            font-family: 'Cairo', sans-serif;
}
    @media screen and (max-width: 775px){
        .card{
            width: 45% !important;
        }
    }
    @media screen and (max-width: 450px){
        .card{
            width: 100% !important;
        }
    }
